[Unit]
Description=magreport2
After=syslog.target network.target


[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/magreport2
WorkingDirectory=/var/magreport2
ExecStart=/bin/java -XX:+HeapDumpOnOutOfMemoryError -XX:+PrintGCDetails -Xmx12144M -Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port=1234 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false $JAVA_OPTS $APP_ARGS -jar $JAR_FILE
User=magreport2
Restart=always
RestartSec=30
TimeoutSec=30min
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
