[Unit]
Description=magreport-admin
After=syslog.target network.target


[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/magreport-admin
WorkingDirectory=/var/magreport-admin
ExecStart=/bin/java -Xmx12144M $JAVA_OPTS $APP_ARGS -jar $JAR_FILE
User=magreport2
Restart=always
RestartSec=30
TimeoutSec=30min
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
