*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: 0;
  padding: 0;
}

body {
	background-color: #e1e5f2;
}

img {
	width: 100%;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.wrapper {
	margin: 35px 25px;
	padding: 15px 30px;
	background-color: white;
	border: 1px solid white;
	border-radius: 16px;
}

.wrapper p{
	font-size: 18px;
	margin-bottom: 20px;
}